extends layout

block content
	div.notelist-container
		div.folderlist
			button.fa.fa-folder-o.folders
			span.currentfolder
			div.panel
				button.fa.fa-plus.newfolder

		.notelist

	div.note-container
		button.fa.fa-plus.newnote
		button.fa.fa-trash-o.deletenote
		.note
			input.title(placeholder='Title', data-field='title')
			textarea.text(placeholder='Note', data-field='text')

	script(src='/scripts/uuid.min.js')
	script(src='/scripts/jquery-2.1.1.min.js')
	script(src='/scripts/index.js')

