{% extends "layout.html" %}

{% block content %}
	<div class="notelist-container">
		<div class="folderlist">
			<button class="folders">
				<i class="icon-button fa fa-book"></i>
				<span class="currentfolder" data-current-path=""></span>
			</button>
			<div class="panel">
				<button class="icon-button fa fa-plus newfolder"></button>
				<input type="text" placeholder="New Folder" class="foldername textbox">
				<button class="confirmfolder icon-button fa fa-check-circle-o"></button>
			</div>
		</div>
		<div class="notelist"></div>
	</div>

	<div class="note-container">
		<button class="icon-button fa fa-pencil newnote"></button>
		<button class="icon-button fa fa-save-o savingnote"></button>
		<button class="icon-button fa fa-trash-o deletenote"></button>
		<div id="note"></div>
	</div>

	<script src="/scripts/bundle.js"></script>


{% endblock %}