extends layout

block content
	div.notelist-container
		div.folderlist
			button.folders
				i.fa.fa-folder-o
				span.currentfolder(data-current-path='')
			div.panel
				button.fa.fa-plus.newfolder
				input(placeholder='New Folder').foldername.textbox
				button.confirmfolder.fa.fa-check-circle-o


		.notelist

	div.note-container
		button.fa.fa-plus.newnote
		button.fa.fa-trash-o.deletenote
		.note
			input.title(placeholder='Title', data-field='title')
			textarea.text(placeholder='Note', data-field='text')

	script(src='/scripts/uuid.min.js')
	script(src='/scripts/jquery-2.1.1.min.js')
	script(src='/scripts/index.js')

