{% extends "layout.html" %}

{% block content %}
	<div class="notelist-container">
		<div class="folderlist">
			<button class="folders">
				<i class="icon ion-ios7-bookmarks-outline"></i>
				<span class="currentfolder" data-current-path=""></span>
			</button>
			<div class="panel">
				<button class="icon ion-ios7-plus-empty newfolder"></button>
				<input type="text" placeholder="New Folder" class="foldername textbox">
				<button class="confirmfolder icon ion-ios7-checkmark"></button>
			</div>
		</div>
		<div class="notelist"></div>
	</div>

	<div class="note-container">
		<button class="icon ion-ios7-plus-empty newnote"></button>
		<button class="icon ion-ios7-trash-outline deletenote"></button>
		<div id="items"></div>
		<div class="note">
			<button class="startlist icon ion-clipboard"></button>
			<input type="text" class="title" placeholder="Title" data-field="title" tabindex="1">
			<textarea name="" id="" cols="30" rows="10" class="text" placeholder="Note" data-field="text" tabindex="2"></textarea>
		</div>
	</div>

	<script src="/scripts/bundle.js"></script>


{% endblock %}