doctype html
html
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")

		title= title
		link(href='http://fonts.googleapis.com/css?family=Open+Sans', rel='stylesheet', type='text/css')
		link(rel='stylesheet', href='/styles/normalise.css')
		link(rel='stylesheet', href='/styles/style.css')
		link(rel='stylesheet', href='/fonts/typicons.min.css')

	body
		block content