extends layout


block content
	.login-container
		if message
			div message
		form(method='post')
			div
				input(type='email', name='email', placeholder='Email' required).textbox
			div
				input(type='password', name='password', placeholder='password' required).textbox
			button(type='submit').button Login
