extends layout

block content
	div.notelist-container
		div.folderlist
			button.folders
				i.icon.ion-ios7-folder-outline
				span.currentfolder(data-current-path='')
			div.panel
				button.icon.ion-ios7-plus-empty.newfolder
				input(placeholder='New Folder').foldername.textbox
				button.confirmfolder.icon.ion-ios7-checkmark


		.notelist

	div.note-container
		button.icon.ion-ios7-plus-empty.newnote
		button.icon.ion-ios7-trash-outline.deletenote
		.note
			button.makelist.icon.ion-clipboard
			input.title(placeholder='Title', data-field='title')
			textarea.text(placeholder='Note', data-field='text')
			.list
				.list-item
					button.icon.ion-ios7-circle-outline


	script(src='/scripts/uuid.min.js')
	script(src='/scripts/jquery-2.1.1.min.js')
	script(src='/scripts/index.js')

