body
	font-size 16px
	padding 20px
	font-family 'Open Sans', Helvetica, Arial, sans-serif

textarea:focus, input:focus
	outline 0


.login-container
	margin-top 50px
	text-align center

	.textbox
		margin-bottom 5px

.note
.notelist
.panel
	-webkit-box-shadow: 0 2px 1px rgba(0,0,0,0.08);
	box-shadow: 0 2px 1px rgba(0,0,0,0.08);
	-webkit-border-radius 5px
	border-radius 5px

.notelist-container
	display inline-block
	width 15%
	vertical-align top
	margin-right 15px

.notelist
.panel
	border solid 1px #ccc
	cursor pointer
	font-weight bold
	div
		padding:10px

		&:not(:last-child)
			border-bottom solid 1px #ddd

		&.selected
			border-bottom: solid 2px #408FB6;
			padding-bottom 9px

		&:hover
			background-color #eee

.folderlist
	.panel
		background-color #FFF
		-webkit-box-shadow 0 2px 1px rgba(0,0,0,0.08);
		box-shadow 2px 2px 1px rgba(0,0,0,0.08);
		display none
		position absolute
		padding 10px

		.folder
			div
				display inline-block

.deletenote
.newfolder
	float right

.note-container
	display inline-block
	width 80%

.note
	border 1px solid #ccc
	position relative

	.title
	.text
		border 0
		width 95%
		font-size 16px
		background-color transparent

	.title
		font-weight bold
		padding 10px 10px 10px 10px

	.text
		font-family 'Open Sans', Helvetica, Arial, sans-serif
		padding 0px 10px 10px 10px
		height 500px

	.startlist
		position absolute
		right 10px
		top 10px
		color #aaa
		font-size 18px

button
	background-color transparent
	border 0
	padding 2px
	cursor pointer
	outline transparent

	&:hover
		color #222

.icon
	font-size 32px

.foldername
.confirmfolder
	display none

.textbox
	border solid 1px #ccc
	border-radius 4px
	padding 4px
	font-weight normal

.button
	padding 10px 20px
	font-weight bold
	background-color #166BDB
	color white
	border-radius 10px
	letter-spacing 1px

.list
	padding-left 40px

.listitem
	position relative

	&.checked
		.listtext
			text-decoration line-through


	&:hover
		.listclose,
		.listmoveup,
		.listmovedown
			display inline-block

	.listcheckbox
		font-size 29px
		color #444
		margin-right 4px

		&.listcheckbox:hover:before
			content "\f16d"

		&.listcheckbox:active:before
			content "\f16e"

	.listclose,
	.listmoveup,
	.listmovedown
		color #666
		font-size 26px

	.listclose
		font-size 28px

.listtext
	border 0
	outline 0
	width 300px
	display inline-block
	vertical-align top
	padding 10px 0px

.listclose,
.listmoveup,
.listmovedown
	display none

