body
	font-size 16px
	padding 20px
	font-family 'Open Sans', Helvetica, Arial, sans-serif

textarea:focus, input:focus
	outline 0

.note
.notelist
	-webkit-box-shadow: 0 2px 1px rgba(0,0,0,0.08);
	box-shadow: 0 2px 1px rgba(0,0,0,0.08);
	-webkit-border-radius 5px
	border-radius 5px

.notelist-container
	display inline-block
	width 15%
	vertical-align top
	margin-right 15px

.notelist
	border solid 1px #ccc
	cursor pointer
	font-weight bold

	div
		padding:10px

		&:not(:last-child)
			border-bottom solid 1px #ddd

		&.selected
			border-bottom: solid 2px #408FB6;
			padding-bottom 9px

		&:hover
			background-color #eee

.deletenote
.newfolder
	float right

.note-container
	display inline-block
	width 80%

.note
	border 1px solid #ccc

	.title
	.text
		border 0
		width 95%
		font-size 16px

	.title
		font-weight bold
		padding 10px 10px 10px 10px

	.text
		font-family 'Open Sans', Helvetica, Arial, sans-serif
		padding 0px 10px 10px 10px
		height 500px

button
	background-color transparent
	border 0
	padding 0
	cursor pointer
	font-size 28px
	outline transparent

	&:hover
		color #6BD5FF
